<div class="container">
  <h2>Users list</h2>
  <p>The list of all users retrieved from api:</p>
  <table class="table table-hover">
    <thead>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Age</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let user of users">
      <td>{{ user?.id }}</td>
      <td>{{ user?.name }}</td>
      <td [ngStyle]="{'color': passingAgeLimit(user.age)}">{{ (user?.age) ? user?.age : 'Unknown' }}</td>
      <td><button class="btn btn-primary" (click)="removeUser(user?.id)">delete</button></td>
    </tr>
    </tbody>
  </table>
</div>
